*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #0F1320;
    color: white;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    background-image: url(./images/background.png);
    margin: 0px;
    font-family: Arial ;
}

main{
    margin: 15px 10px 20px 20px;
}

#logo-game{
    height: 50px;
    align-self: baseline;
}

#icon-global-language{
    height: 23px;
    margin-left: 30px;
    margin-right: 25px;
}

#left-header{
    margin-inline: 12px;
    display: flex;
    justify-content: left;
    align-items: center;
}

#right-header img{
    height: 40px;
    margin-inline: 5px;
    justify-content: right;
    align-items: center;
}

#right-header{
    display: flex;
}

#limit-header{
    background-color: rgb(45, 50, 85);
    height: 1px;
    width: 100%;
    display: block;
}

.gallery {
    display: flex;
    width: 100%;
}

.slider-events {
    width: 680px;
    height: auto;
    margin: 0;
    overflow: hidden;
}

.slider-events ul {
    display: flex;
    padding: 0;
    width: 600%;
    animation: slide 24s infinite;
}

.slider-events li {
    list-style: none;
    width: 100%;
}

.lateral-images,
.images-1st-row img,
.images-2nd-row img{
    display: flex;
    width: 190px;
    height: 115px;
    margin-left: 10px;
}

.top{
    color: rgb(195, 215, 235);
    font-family: "noto serif";
    font-weight: bold;
    justify-content: center;
}

.normal{
    font-family: Arial;
    color: rgb(145, 165, 201);
    justify-content: center;
    font-size: small;
}

@keyframes slide {
    05% {margin-left: 0%;}
    15% {margin-left: 0%;}

    20% {margin-left: -100%;}
    30% {margin-left: -100%;}

    35% {margin-left: -200%;}
    45% {margin-left: -200%;}

    50% {margin-left: -300%;}
    60% {margin-left: -300%;}

    65% {margin-left: -400%;}
    75% {margin-left: -400%;}

    80% {margin-left: -500%;}
    90% {margin-left: -500%;}
}
